{{posted_stuff}}
<div class="jumbotron">
    <h1 class="display-4">{{stock.companyName}} ({{stock.symbol}})</h1>
    <p class="lead"><strong>Latest Price:</strong> {{stock.latestPrice}}</p>
    <hr class="my-4">
    <p>Open: {{stock.open}}</p>
    <p>Previous Close: {{stock.previousClose}}</p>
    <p>Change Percent: {{stock.changePercent}}</p>
    <p>Market Cap: {{stock.marketCap}}</p>
    <p>52 Week High: {{stock.week52High}}</p>
    <p>52 Week High: {{stock.week52Low}}</p>
</div>


<br>
<!--{{#each stock}}-->
<!--    {{@key}} | {{this}}<br>-->
<!--{{/each}}-->

